.card-student{
  background: #63019b ;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  text-decoration: none;
}

.card-list{
  background: linear-gradient(45deg, #f5eaea4f 0%, #a559d1ab 100%);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
