.navbar-lewagon {
  justify-content: space-between;
  background: rgb(163, 3, 155);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  display: flex;
  text-align: center;
  align-items: center;
}

.mark-list {
  list-style: none;
}
